%h1
  = "New #{@controller_name.singularize.humanize}"
= labeled_form_for @current_object, :html => {:class => 'form'} do |f|
  = f.text_field :name
  = f.submit "Create"
= link_to 'Back', :controller => @controller_name, :action => 'index'
