%h3
  = h_link_to('Log in',"help/login")
= form_for @user_session, :url => user_sessions_path do |f|
  %p
    = f.label :username
    %br/
    = f.text_field :username
  %p
    = f.label :password
    %br/
    = f.password_field :password
  %p
    = f.submit "Log in"
